<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Eat Da Burger</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/images/logo.png">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
</head>

<body class="bg-yellow-500">
    <div class="flex justify-center my-4 flex-col items-center">
        <img src="/images/logo.png" class="h-32 w-32" alt="">
        <h1 class="text-3xl font-bold">Hamburger Order App</h1>
    </div>
    <div class="container mx-auto bg-yellow-400 rounded-lg p-5 shadow">
        {{{ body }}}
    </div>


    <br>
    <div class="container mx-auto bg-yellow-400 rounded-lg p-5 shadow text-center">
        <h1 class="font-bold text-gray-900"><i class='bx bx-code-block'></i> App made by Faranak Sabet</h1>
    </div>
    <br>

</body>

</html>